/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/public/sass/main.scss ***!
  \********************************************************************************************************************/
@use "bootstrap/master-bootstrap";
main {
  color: white; }

body {
  color: black;
  background-image: url(/background.ff3c4d2d0d19dc47fa8542c2684324b3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

@font-face {
  font-family: Digital;
  src: url(/digital-7.93911ab167c94314075678fdf778b7da.ttf); }

#fontImport {
  font-family: Digital; }

.unused-CSS {
  color: red; }

